* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

:root {
  --flex: flex;
  --inline: inline;
  --black: black;
  --primary: goldenrod;
  --secondary: rgb(26, 26, 26);
  --bg-color: #fff;
}

body {
  display: var(--flex);
  flex-direction: column;
  gap: 0.091rem;
  background-color: var(--bg-color);
}

main {
  min-height: 80vh;
  padding: 5% 15% 5%;

  /* background-color: var(--bg-color); */
  box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
}

header {
  display: var(--flex);
  position: sticky;
  align-items: center;
  justify-content: space-between;
  padding: 0.6% 10% 0;
  background: var(--secondary);
  box-shadow: rgba(67, 67, 94, 0.25) 0 30px 60px -12px, rgba(42, 15, 15, 0.9) 0 181px 436px -1233333338px;
}

.logo {
  align-items: flex-start;
  justify-content: flex-start;
}

.logo img {
  width: 216px;
  height: auto;
  padding: 0;
  align-self: flex-start;
}

.nav li {
  display: var(--inline);
  padding: 2rem 3rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.nav a {
  color: var(--primary);
}

.brand a {
  color: var(--secondary);
  font-size: 1.75rem;
}

.nav a:hover {
  color: var(--secondary);
  border-radius: 5px;
}

.nav .links:hover {
  background-color: var(--primary);
  color: var(--secondary);
  border-radius: 5px;
}

.card-container {
  display: var(--flex);
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: space-around;
  width: 100%;
}

.card {
  padding: 2%;
  width: 30%;
  box-sizing: border-box;
  background-color: var(--bg-color);
  border-radius: 15px;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
}

.card:hover {
  cursor: pointer;
  background-color: var(--secondary);
}

.movie-image {
  width: 100%;
  height: auto;
}

.movie-image img {
  width: 100%;
  height: auto;
}

.detail {
  display: var(--flex);
  margin-top: 1em;
  justify-content: space-between;
  align-items: center;
  color: var(--primary);
}

.detail span {
  font-size: 1.5rem;
}

.detail svg {
  fill: var(--primary);
}

.btn-container {
  margin-top: 1em;
  display: var(--flex);
  justify-content: space-between;
}

.btn {
  background-color: var(--primary);
  cursor: pointer;
  color: var(--secondary);
  padding: 1rem 2rem;
  font-size: 1.25rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px;
}

.card h2 {
  font-size: 2.3rem;
  color: var(--primary);
}

.count-c {
  cursor: none;
  display: var(--flex);
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: var(--primary);
  padding: 0.5em;
}

footer {
  display: var(--flex);
  background-color: var(--primary);
  padding: 1% 5%;
  align-items: center;
  gap: 3rem;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.brand a:hover {
  color: var(--secondary);
}

p {
  color: var(--secondary);
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  main {
    padding: 7% 5%;
  }

  .card-container {
    gap: 2em;
    justify-content: space-around;
    width: 100%;
    padding: 0;
  }

  .card {
    justify-content: space-around;
    padding: 1rem;
    gap: 1rem;
  }

  .btn {
    padding: 1em;
  }
}
