* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  color: goldenrod;
}

:root {
  --flex: flex;
  --inline: inline;
  --black: black;
}

header {
  display: var(--flex);
  align-items: center;
  justify-content: space-evenly;
  padding: 2% 5%;
  position: fixed;
  width: 100%;
  background: var(--black);
}

.nav li {
  display: var(--inline);
  padding: 2rem 3rem;
  font-size: 1.5rem;
  font-weight: 600;
}

